<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>safziy-service</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<listener>
		<listener-class>com.safziy.service.listener.InitListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>com.safziy.service.servlet.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>test</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>File</servlet-name>
		<servlet-class>com.safziy.service.servlet.FileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>File</servlet-name>
		<url-pattern>file</url-pattern>
	</servlet-mapping>

</web-app>

